.list-container {
    display: flex;
    width: calc(100% - 40px);
    padding: 20px;
    justify-content: space-between;
}

.list-container .list-picture {
    flex-grow: 1;
    margin: 10px;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.list-container .list-picture .list-picture-info h2 { font-size: 16px;}
.list-container .list-picture .list-picture-info h3 { font-size: 14px;}
.list-container .list-picture .list-picture-info {
    color: #ecf0f1;
    background: rgba(52, 73, 94, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.list-container .list-picture .list-picture-info:hover {
    opacity: 1;
    transition: 0.4s;
}